# Mandatory info for starting the app
REACT_APP_MORALIS_APPLICATION_ID = 
REACT_APP_MORALIS_SERVER_URL = 

# Optional info for connecting your localChain and Moralis Database
moralisApiKey = xxxxx
moralisApiSecret = xxxxxxx

REACT_APP_API_URL=http://localhost:4001/api/
PORT=4200